.card-detail-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;

  .card-detail-container {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .main-detail {
    margin-bottom: 2rem;
    display: flex;
    //flex-direction: column;
    justify-content: center;
    //align-items: center;

    .mid-section-card-right {
      width: 50%;
    }
  }
  .detail-title {
    padding: 0.25rem;
    font-size: 40px;
  }
  .list-detail__item {
    padding: 0.5rem;
  }
  .return-link {
    color: #32e0c4;
    height: 50px;
    text-align: center;
    padding-top: 0.5rem;
    justify-self: initial;
  }
  .list-detail__item {
    text-transform: capitalize;
  }
}
