//form

.main {
  padding: 0.5rem;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;

  &__form {
    display: inline-block;
    text-align: center;
  }

  .form__input {
    padding: 0.2rem;
    margin: 1rem;
  }
}
