.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
  text-align: center;
  padding-top: 0.5rem;
  .header-img {
    //height: 13.5rem;
    height: 7rem;
    /*
    @media (max-width: 767px) {
      height: 10rem
    }
    @media (min-width: 768px) and (max-width: 1365px){
//height: 13.5rem
    }*/
  }
  .header-text {
    display: none;
    color: #222831;
  }
}
